name: Publish prometheus-pushgateway:test Docker Image

on: [push]

jobs:
  push_to_registry:
    name: Push Docker Image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push metrics-cleaner to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./src/prometheus-pushgateway
          file: ./src/prometheus-pushgateway/build/metrics-cleaner.common.dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/metrics-cleaner:test
      - name: Push prometheus-pushgateway to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./src/prometheus-pushgateway
          file: ./src/prometheus-pushgateway/build/prometheus-pushgateway.common.dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/prometheus-pushgateway:test
